.other-product__container {
  border-top : 2px solid #D4D4D4;
  border-bottom : 2px solid #D4D4D4;
  background : #fff;
  padding : 2.5rem 2rem;
  margin-bottom : 3rem;
}

.slider__other-product {

  .slick-track {

  }

  .product__article {
    width : 22rem;
    height : 25rem;
    overflow : hidden;
    border : 1px solid map-get($theme-colors, "yellow");
    margin-right : 2rem;

    .article__header {
      position : relative;
      background : #fff;

      .article__img {
        width : 100%;
        height : 18rem;
      }

      .article__price {
        background : map-get($theme-colors, "yellow");
        padding : .3rem 1rem;
        font-family : FiraGO-Medium;
        
        position : absolute;
        top : 0;
        right : 0;
      }
    }

    .article__body {
      border-top : 1px solid #D4D4D4;
      overflow : hidden;

      .article__title {
        display : block;
        text-align : center;
        font-family : FiraGO-Medium;
        transition : .2s ease;

        &:hover {
          color : map-get($theme-colors, "yellow");
        }
      }
    }
  }
}